.table-wrapper {
  max-height: 300px;
  overflow: auto;
}
.table_new {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 0rem;
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6;
}
.td {
  text-align: center;
  vertical-align: middle;
}
.card-body_new {
  flex: 1 1 auto;
  padding: 0 0;
}
.img_new {
  margin-top: 1em;
}
